html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-columns: 2em 25em auto 2em;
  grid-template-rows: 10em auto 3em;
  font-family: Helvetica, Arial, sans-serif;
  color: snow;
  background-image: linear-gradient(45deg, #000008, #333633);
}

header, footer {
  grid-column: 1 / 5;
}

header {
  grid-row: 1;
  text-align: center;
}

body > .controls {
  grid-column: 2;
  grid-row: 2;
}

fieldset {
  margin-top: 0.5em;
}

body > div.images {
  grid-column: 3;
  grid-row: 2;
  overflow: hidden;
  text-align: center;
}

body > div.images > img {
  max-height: 50%;
  max-width: 100%;
}


footer {
  grid-row: 3;
}
